<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491503755352-4mk46n2l7vrdoil2c0cp46a0a6quks3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491503755352-4mk46n2l7vrdoil2c0cp46a0a6quks3t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491503755352-agkvubhkpgiinjshte89lu8ra9ptnrh6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQDLugE-Zn-XFpxw8BnkI5YPmTJ0JZn3I</string>
	<key>GCM_SENDER_ID</key>
	<string>491503755352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.lalafilms</string>
	<key>PROJECT_ID</key>
	<string>la-la-films-m0dyom</string>
	<key>STORAGE_BUCKET</key>
	<string>la-la-films-m0dyom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491503755352:ios:f1ee4a81f52f4d2d582a2d</string>
</dict>
</plist>